<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=bookTitle%></title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/navbar.css">
</head>
<body>
    <%- include("partials/navbar")%>
    <h1><%=bookTitle%></h1>
    <% if (branches && branches.length > 0) {%>
        <ul>
            <% branches.forEach(branch => {%>
                <li><%=branch.name%> <%=branch.stock%></li>
            <%})%>
        </ul>
    <%}%>
    <a href="/books">Back</a>
</body>
</html>