<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/sortBooks.css">
</head>
<body>
    <%- include("partials/navbar")%>
    <h1>Books</h1>
    <%- include("partials/sortBooks", {pagetype: "books"})%>
    <% if (books && books.length > 0) {%>
        <ul>
            <% books.forEach(book => {%>
                <li>
                    <div>
                        <a href="/books/<%= book.id%>"><%=book.title%> by <%=book.author%></a>
                        <form action="/books/<%=book.id%>/delete" method="post"><button>Delete</button></form>
                    </div>
                </li>
            <%})%>
        </ul>
    <%} else {%>
        <p>There are no books. Please add some to get started.</p>
    <%}%>
    <a href="/books/new">Add a book</a>
</body>
</html>